WebContent/wsdl/EstudiantesLogical.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://logical.matriculas.ueb.co" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://logical.matriculas.ueb.co" xmlns:intf="http://logical.matriculas.ueb.co" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://logical.matriculas.ueb.co" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerNombre">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerNombreResponse">
    <complexType>
     <sequence>
      <element name="obtenerNombreReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerNombreRequest">

      <wsdl:part element="impl:obtenerNombre" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerNombreResponse">

      <wsdl:part element="impl:obtenerNombreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EstudiantesLogical">

      <wsdl:operation name="obtenerNombre">

         <wsdl:input message="impl:obtenerNombreRequest" name="obtenerNombreRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerNombreResponse" name="obtenerNombreResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EstudiantesLogicalSoapBinding" type="impl:EstudiantesLogical">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerNombre">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerNombreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerNombreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EstudiantesLogicalService">

      <wsdl:port binding="impl:EstudiantesLogicalSoapBinding" name="EstudiantesLogical">

         <wsdlsoap:address location="http://localhost:8080/MatriculasUEB/services/EstudiantesLogical"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
